/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

label[for="fold"] {
  position: absolute;
  top: 1rem;
  left: 1rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  background: #000;
  color: #fff;
  border: 2px solid #000;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

input#fold {
  display: none;
}

input#fold:checked+label {
  background: #fff;
  color: #000;
}

input#fold:not(:checked)~#main .catch-of-the-day>* {
  -webkit-transform: none;
  transform: none;
}

.store-management button.facebook,
.store-management input[type=submit].facebook {
	background: #3864a3;
}

.store-management button.facebook:after,
.store-management input[type=submit].facebook:after {
	background: #2d5082;
}

.store-management button.google,
.store-management input[type=submit].google {
	background: #82d465;
}

.store-management button.google:after,
.store-management input[type=submit].google:after {
	background: #5cc437;
}

@font-face {
  font-family: "haymakerregular";
  src: url("~fonts/haymaker-webfont.eot");
  src: url("~fonts/haymaker-webfont.eot?#iefix") format("embedded-opentype"), url("~fonts/haymaker-webfont.woff") format("woff"), url("~fonts/haymaker-webfont.ttf") format("truetype"), url("~fonts/haymaker-webfont.svg#haymakerregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'blanchcaps_inline';
  src: url("~fonts/blanch_caps_inline-webfont.eot");
  src: url("~fonts/blanch_caps_inline-webfont.eot?#iefix") format("embedded-opentype"), url("~fonts/blanch_caps_inline-webfont.woff") format("woff"), url("~fonts/blanch_caps_inline-webfont.ttf") format("truetype"), url("~fonts/blanch_caps_inline-webfont.svg#blanchcaps_inline") format("svg");
  font-weight: normal;
  font-style: normal;
}

.store-management article,
.store-management aside,
.store-management details,
.store-management figcaption,
.store-management figure,
.store-management footer,
.store-management header,
.store-management hgroup,
.store-management nav,
.store-management section,
.store-management summary {
  display: block;
}

.store-management audio,
.store-management canvas,
.store-management video {
  display: inline-block;
}

.store-management audio:not([controls]) {
  display: none;
  height: 0;
}

.store-management [hidden] {
  display: none;
}

.store-management html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.store-management a:focus {
  outline: thin dotted;
}

.store-management a:active,
.store-management a:hover {
  outline: 0;
}

.store-management h1 {
  font-size: 2em;
}

.store-management abbr[title] {
  border-bottom: 1px dotted;
}

.store-management b,
.store-management strong {
  font-weight: 700;
}

.store-management dfn {
  font-style: italic;
}

.store-management mark {
  background: #ff0;
  color: #000;
}

.store-management code,
.store-management kbd,
.store-management pre,
.store-management samp {
  font-family: monospace, serif;
  font-size: 1em;
}

.store-management pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.store-management q {
  quotes: 2 1C 2 1D 2 18 2 19;
}

.store-management small {
  font-size: 80%;
}

.store-management sub,
.store-management sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.store-management sup {
  top: -0.5em;
}

.store-management sub {
  bottom: -0.25em;
}

.store-management img {
  border: 0;
}

.store-management svg:not(:root) {
  overflow: hidden;
}

.store-management fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

.store-management button,
.store-management input,
.store-management select,
.store-management textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

.store-management button,
.store-management input {
  line-height: normal;
}

.store-management button,
.store-management html input[type=button],
.store-management input[type=reset],
.store-management input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

.store-management button[disabled],
.store-management input[disabled] {
  cursor: default;
}

.store-management input[type=checkbox],
.store-management input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

.store-management input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.store-management input[type=search]::-webkit-search-cancel-button,
.store-management input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.store-management textarea {
  overflow: auto;
  vertical-align: top;
}

.store-management table {
  border-collapse: collapse;
  border-spacing: 0;
}

.store-management body,
.store-management figure {
  margin: 0;
}

.store-management legend,
.store-management button::-moz-focus-inner,
.store-management input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.store-management .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.store-management * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.store-management html {
  font-size: 62.5%;
}

.store-management body {
  background: #d4d4d4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: 'Open Sans', sans-serif; */
  font-size: 2rem;
}

.store-management h1 {
  font-family: 'blanchcaps_inline', sans-serif;
  text-align: center;
  font-weight: normal;
  margin: 0;
}

.store-management h2,
.store-management h3,
.store-management h4,
.store-management h5,
.store-management h6 {
  font-weight: normal;
  font-family: 'haymakerregular', sans-serif;
  line-height: 1em;
}

.store-management h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
}

.store-management h3 {
  font-size: 3rem;
}

.store-management ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.store-management button,
.store-management input[type=submit] {
  text-transform: uppercase;
  background: none;
  padding: 1em;
  border: 1px solid #000;
  font-weight: 600;
  font-size: 1.5rem;
  /* font-family: 'Open Sans'; */
  font-family: 'haymakerregular', sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  z-index: 2;
}

.store-management button[disabled],
.store-management input[type=submit][disabled] {
  color: #d12028;
  background: #fff;
  border-color: #d12028;
  -webkit-transform: rotate(-10deg) scale(2) translateX(50%) translateY(-50%);
  transform: rotate(-10deg) scale(2) translateX(50%) translateY(-50%);
}

.store-management button[disabled]:hover,
.store-management input[type=submit][disabled]:hover {
  color: #d12028;
  cursor: not-allowed;
}

.store-management button[disabled]:after,
.store-management input[type=submit][disabled]:after {
  display: none;
}

.store-management button:after,
.store-management input[type=submit]:after {
  content: '';
  z-index: -1;
  display: block;
  /* background: #000; */
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.store-management button:hover,
.store-management input[type=submit]:hover,
.store-management button:focus,
.store-management input[type=submit]:focus {
  color: #fff;
  outline: 0;
  background: #000;
}

.store-management button:hover:after,
.store-management input[type=submit]:hover:after,
.store-management button:focus:after,
.store-management input[type=submit]:focus:after {
  height: 100%;
}

.store-management button.warning:after,
.store-management input[type=submit].warning:after {
  background: #d12028;
}

.store-management button.success:after,
.store-management input[type=submit].success:after {
  background: #2dc22d;
}

.store-management button.github,
.store-management input[type=submit].github,
.store-management button.facebook,
.store-management input[type=submit].facebook,
.store-management button.twitter,
.store-management input[type=submit].twitter {
  border: 0;
  display: block;
  margin-bottom: 2rem;
  width: 100%;
  color: #fff;
  padding: 2rem;
}

.store-management button.github,
.store-management input[type=submit].github {
  background: #82d465;
}

.store-management button.github:after,
.store-management input[type=submit].github:after {
  background: #5cc437;
}

.store-management button.twitter,
.store-management input[type=submit].twitter {
  background: #5ea9dd;
}

.store-management button.twitter:after,
.store-management input[type=submit].twitter:after {
  background: #2c8dd0;
}

.store-management .list-of-fish {
  border-top: 2px solid #000;
  border-bottom: 1px solid #000;
  padding-top: 5px;
  margin-top: 2rem;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.store-management .catch-of-the-day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 5vh;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.store-management .catch-of-the-day>* {
  -webkit-box-flex: 1;
  -ms-flex: 1 4 auto;
  flex: 1 4 auto;
  padding: 2rem;
  border: 1rem double #1a1a1a;
  position: relative;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  overflow: scroll;
}

.store-management .catch-of-the-day>*:first-child {
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-transform: translateX(50%) rotateY(6deg) translateX(-50%);
  transform: translateX(50%) rotateY(6deg) translateX(-50%);
}

.store-management .catch-of-the-day>*:nth-child(2) {
  -webkit-transform: translateX(-50%) rotateY(-14deg) translateX(50%);
  transform: translateX(-50%) rotateY(-14deg) translateX(50%);
  border-left: 0;
  border-right: 0;
  min-width: 300px;
}

.store-management .catch-of-the-day>*:last-child {
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-transform: translateX(-50%) rotateY(10deg) translateX(50%) scale(1.08) translateX(24px);
  transform: translateX(-50%) rotateY(10deg) translateX(50%) scale(1.08) translateX(24px);
}
